demod_matrices/demod_fitted_for_upload_HRT40degC.fits
demod_matrices/demod_fitted_for_upload_HRT50degC.fits
debug_hrt_pipe.ipynb
test_hrt_pipeline.ipynb
.ipynb_checkpoints/debug_hrt_pipe-checkpoint.ipynb
.ipynb_checkpoints/test_hrt_pipeline-checkpoint.ipynb
__pycache__/hrt_pipe.cpython-36.pyc
__pycache__/utils.cpython-36.pyc
_0142230201_reduced.fits
dummy*.txt
*.fits
# cmilos/*.c
# cmilos/*.h
# cmilos/*
cmilos-fits/milos
cmilos-fits/*.o
cmilos/milos
cmilos/*.o
_RTE.npz
*.npz
.env
run.py
p-milos/src/*.o
file_names.txt
april_2020_flat_us_sigma.py
Line_Flat.png
.ipynb_checkpoints/test_pmilos-checkpoint.ipynb
__pycache__/hrt_pipe_sub.cpython-36.pyc
cmilos/me_der_fitscopy.c
cmilos/mil_sinrf_copyfits.c
cmilos/milosfits_copy.c
test_pmilos.ipynb
cmilos/defines_cmilosifts.h
cmilos-fits/testp.per
file_names.txt
input_jsons/*
input_jsons/feb_2k_2021_L1.txt
input_jsons/nov_2020_L1_feb_flats.txt
input_jsons/nov_2020_L1.txt
src/create_input_json.py
*.pyc
input_jsons/sep_2021_L1_west.json
input_jsons/sep_2021_L1_south_noflat.json
.ipynb_checkpoints/hrt_pipeline_notebook-checkpoint.ipynb
.ipynb_checkpoints/
.pat
src/sophi_hrt_pipe/rt_pipe_PF.py
src/sophi_hrt_pipe/PSF_*.py
test.ipynb
src/__pycache__/
src/sophi_hrt_pipe.egg-info/
src/__pycache__
src/__pycache__/*
cmilos/milos
.vscode/settings.json
.vscode
.Trash*
pymilos/pymilos.c
pymilos/pymilos.cpython*
pymilos/build/
pymilos/build/*
pymilos/lib/*.o
pymilos/pymilos.egg-info/
pymilos/pymilos.egg-info/*
pymilos/.nfs*
milos
milos/*
pymilos_old
pymilos_old/*
rte_inter.py
csv/2023_PD_result_*.csv
p-milos*
p-milos*/
