demod_matrices/demod_fitted_for_upload_HRT40degC.fits
demod_matrices/demod_fitted_for_upload_HRT50degC.fits
debug_hrt_pipe.ipynb
test_hrt_pipeline.ipynb
.ipynb_checkpoints/debug_hrt_pipe-checkpoint.ipynb
.ipynb_checkpoints/test_hrt_pipeline-checkpoint.ipynb
__pycache__/hrt_pipe.cpython-36.pyc
__pycache__/utils.cpython-36.pyc
_0142230201_reduced.fits
dummy*.txt
*.fits
# cmilos/*.c
# cmilos/*.h
# cmilos/*
cmilos-fits/milos
cmilos-fits/*.o
cmilos/milos
cmilos/*.o
_RTE.npz
*.npz
.env
run.py
p-milos/src/*.o
file_names.txt
april_2020_flat_us_sigma.py
Line_Flat.png
.ipynb_checkpoints/test_pmilos-checkpoint.ipynb
__pycache__/hrt_pipe_sub.cpython-36.pyc
cmilos/me_der_fitscopy.c
cmilos/mil_sinrf_copyfits.c
cmilos/milosfits_copy.c
test_pmilos.ipynb
cmilos/defines_cmilosifts.h
cmilos-fits/testp.per
file_names.txt
input_jsons/*.txt
src/create_input_json.py
*.pyc
test.ipynb
.ipynb_checkpoints/*
field_stop/secondary_ghost_mask.fits
